<%-include("../../views/partials/admin/header")%>

        
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Create Category</h2>
                    <p class="mt-2">Add a new product category</p>
                </div>
            </div>
            <% if (typeof message !== 'undefined') { %>
                <div id="alertMessage" class="alert text-success text-center mx-auto my-4" style="max-width: 600px; font-size: 1.25rem; font-weight: bold">
                  <%= message %> 
                </div>
            <% } %>
            <% if (typeof error !== 'undefined') { %>
                <div id="alertMessage" class="alert text-danger text-center mx-auto my-4" style="max-width: 600px; font-size: 1.25rem; font-weight: bold">
                  <%= error %> 
                </div>
            <% } %>
            
            <div class="card">
                <div class="card-body">

                    <form id="addCategoryForm" method="post" action="/admin/addCategory">
                        <div class="row mb-6">
                            <div class="table-responsive">
                                

                                <div class="mb-4">
                                    <label class="form-label">Category Name</label>
                                    <input type="text" id="name" name="name" placeholder="Type here" class="form-control" />
                                    <div id="name-error" class="error-message text-danger"></div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" id="description" class="form-control" name="description" rows="4"></textarea>
                                    <div id="description-error" class="error-message text-danger "></div>

                                </div>
                                <!-- <div class="mb-4">
                                    <label class="form-label">Parent Category</label>
                                    <select class="form-select">
                                        <option>No parent category</option>
                                        <option>Mens</option>
                                        <option>Womens</option>
                                        <option>Boys</option>
                                        <option>Girls</option>
                                    </select>
                                </div> -->
                                <!-- <div class="mb-4">
                                    <label class="form-label">Category Icon</label>
                                    <input class="form-control" type="file" />
                                </div> -->
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <label class="form-label">Status</label>
                                            <select class="form-select" name="isListed">
                                                <option value="true">List</option>
                                                <option value="false">Unlist</option>
                                            </select>
                                        </div>
                                        <!-- <div class="mb-4">
                                            <label class="form-label">Sort Order</label>
                                            <input type="number" placeholder="0" class="form-control" />
                                        </div> -->
                                        <!-- <div class="mb-4">
                                            <label class="form-label d-block">Featured Category</label>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="featured" value="yes">
                                                <label class="form-check-label">Yes</label>
                                            </div> -->
                                            <!-- <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="featured" value="no" checked>
                                                <label class="form-check-label">No</label>
                                            </div> -->
                                        <!-- </div> -->
                                        <!-- <div>
                                            <label class="form-label">SEO Meta Keywords</label>
                                            <input type="text" placeholder="Type here" class="form-control" />
                                        </div> -->
                                    </div>
                                </div>
                                <!-- card end// -->
                            </div>
                        </div>
                        <div class="d-flex justify-content-end gap-3">
                            <a href="/admin/categories"> <button type="button" class="btn btn-light">Cancel</button> </a>
                            <button type="submit" class="btn btn-primary">Create Category</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        



        <script src="/admin/scripts/addCategory.js"></script>
        
        <!-- content-main end// -->
        <%-include("../../views/partials/admin/footer")%>
