<%-include("../../views/partials/admin/header")%>

        

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Offer</h2>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">NO</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Activation Date</th>
                                    <th scope="col">Expiry Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>shoe</td>
                                    <td>10 %</td>
                                    <td>Aug 5, 2024</td>
                                    <td>Sep 12, 2029</td>
                                    <td>
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>shoe</td>
                                    <td>50 %</td>
                                    <td>Aug 5, 2024</td>
                                    <td>Sep 12, 2029</td>
                                    <td>
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>shoe</td>
                                    <td>34 %</td>
                                    <td>Aug 5, 2024</td>
                                    <td>Sep 12, 2029</td>
                                    <td>
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>shoe</td>
                                    <td>20 %</td>
                                    <td>Aug 5, 2024</td>
                                    <td>Sep 12, 2029</td>
                                    <td>
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive end// -->
                    
                    <div class="text-center mt-4">
                        <button class="btn btn-primary" type="button">
                            + Add Offer
                        </button>
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section>
        
        <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    © Footzy Footwear Limited
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">All rights reserved</div>
                </div>
            </div>
        </footer>
    </main>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/perfect-scrollbar.js"></script>
    <script src="js/jquery.fullscreen.min.js"></script>
    <script src="js/chart.js"></script>
    <!-- Main Script -->
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/custom-chart.js" type="text/javascript"></script>


</body></html>






