<%-include("../../views/partials/user/header")%>


<body>


	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb ">
		<div class="container ">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Sign Up</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Sign Up</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="img/login.png" alt="">
						<div class="hover">
							<h4>Already have an account? </h4>
							<a class="primary-btn" href="registration.html">Log in</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Create an Account</h3>
							                  <!-- showing the message -->
      <% if (typeof message !== 'undefined') { %>
        <div id="alertMessage" class="alert text-success text-center mx-auto my-4" style="max-width: 600px; font-size: 1.25rem; font-weight: bold">
          <%= message %> <!-- This will display the message passed from the controller -->
        </div>
      <% } %>

							<form class="row login_form" action="/signup" method="post" id="signupForm" novalidate="novalidate">
								<div class="col-md-12 form-group">
									<input type="text" class="form-control" id="username" name="username" placeholder="Full Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
								</div>
								<div class="col-md-12 form-group">
									<input type="" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
								</div>
								<div class="col-md-12 form-group">
									<input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
								</div>
								<div class="col-md-12 form-group">
									<input type="date" class="form-control" id="dob" name="dob" placeholder="Date of Birth" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Date of Birth'">
								</div>
								<div class="col-md-12 form-group">
									<input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
								</div>
								<div class="col-md-12 form-group">
									<input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
								</div>			
									<div id="errmsg" class="abc alert text-danger text-center mx-auto my-4" style="max-width: 600px; font-size: 1.25rem; font-weight: bold"></div>

								<div class="col-md-12 form-group">
									<button type="submit" value="submit" class="primary-btn">Sign Up</button>
							
									<!-- OR Divider -->
									<div class="or-divider">
										<span>OR</span>
									</div>
							
									<!-- Google Sign Up Button -->
									<div class="row">
										<div class="col-md-12 bg-white">
											<button class="google-btn border-0" style="background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);" onclick="handleGoogleSignUp()">
												<img src="./img/Google_Icons.png" alt="Google logo">
												Sign up with Google
											</button>
										</div>
									</div>
								</div>
							</form>
							
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
	<script src="/script/user/signup.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<%-include("../../views/partials/user/footer") %>